.button {
		font-family: system-ui;
		font-size: 20px;
		text-decoration: none;
		color: #080707;
	}

.box { 
	background-color: #F3B0F2;
	border: 5px solid gray;
	padding: 10px;
	margin: 10px 30px 10px 30px;
	overflow: auto;
	font-size: 17px;
}

.navbar {
	height: 50px;
}

.image-display {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: center;

}

.image-movies {
	width: 50px;
}

.image {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 20%;
}

.table-shrinker {
	width: auto;
}

.verticalAlign-middle {
	vertical-align: middle;
}

td[colspan="1"] {
	width: 20%;
}

td[colspan="2"] {
	width: 40%;
}

td[colspan="3"] {
	width: 60%;
}

td[colspan="4"] {
	width: 80%;
}

/*started bootstrap rewrite*/



td[colspan="5"] {
	width: 100%;
}
